.Hero_Container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.Heo_Left {
  width: 68%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Hero_Right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: whitesmoke;
  background-color: black;
  width: 30%;
  padding: 2rem;
  justify-content: space-evenly;
}

.Hero_Right h1 {
  font-size: 2rem;
  color: white;
}

.Hero_Right div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Hero_Right div h2:hover {
  color: palegoldenrod;
  cursor: pointer;
}

.Hero_Right_Center {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding: 4rem 0;
}

.Hero_Grid {
  display: grid;
  grid-template-columns: 40% 30%;
  justify-content: space-between;
}

.Hero_Button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Hero_Button button {
  width: 50%;
  padding: .5rem;
  background-color: rebeccapurple;
  color: white;
  border-radius: .5rem;
  border: 4px solid black;
}

.Hero_Title {
  font-size: 1.8rem;
}

@media (width < 1000px) {
  .Hero_Container {
    flex-direction: column;
    align-items: center;
  }

  .Hero_Grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .Hero_Button {
    flex-direction: column;
    align-items: center;
  }

  .Hero_Title {
    text-align: center;
  }
  .Hero_Right {
    width: 100%;
  }

  .Hero_Right h1 {
    text-align: center;
  }

  .Hero_Right p {
    text-align: left;
  }
}