.Navbar_Container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.Navbar_List {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.Navbar_List li {
  position: relative;
  width: max-content;
}

.Navbar_List li::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, red, blue);
  height: 5px;
  width: 0%;
  top: 20px;
  left: 0;
}
.Navbar_List li:hover {
    cursor: pointer;
    color: red;
}

.Navbar_List li:hover::after {
  width: 100%;
  transition: all 0.5s;
}

.Navbar_MenuIcon {
  display: none;
}

@media (width < 1020px) {
  .Navbar_List {
    position: fixed;
    padding-top: 1rem;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid red;
    flex-direction: column;
    transition: right 300ms ease-in-out;
    background-color: black;
    color: whitesmoke;
  }
  .nav_Show {
    right: 0;
    padding-left: 1rem;
  }

  .Navbar_List li {
    width: 100%;
    padding-left: 2.5rem;
  }
  .Navbar_MenuIcon {
    display: block;
    /* background-color: red; */
    border-radius: .5rem;
  }
}