.agencyHeroContainer {
  position: relative;
}

.agencyNavbar {
  width: 100%;
  height: 40%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
}

.agencyNavFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.agencyNavItems {
  font-size: 1.8rem;
  display: flex;
  gap: 2rem;
  list-style-type: none;
  color: white;
  text-transform: uppercase;
}

.agencyTitle {
  text-align: center;
  font-size: 2rem;
  color: white;
}