.agencyHeroContainer {
}
.flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.agencyNavbar {
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  gap: 5rem;
}

.agencyNavItems {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.agencyTitle {
    text-align: center;
}
