.Transform_Container {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
}

.Transform_LeftSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Transform_Button button {
  border: none;
  background-color: white;
  font-size: 1.8rem;
  text-decoration-line: underline;
  text-decoration-color: orange;
}

.Transform_Button button:hover {
  text-decoration-color: yellow;
  transition: all 1s ease-in-out;
}

.Transform_LeftSideText {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
}


.flip {
    flex-direction: row-reverse;
}