.Apparel_Container {
  height: 100vh;
  /* background-color: whitesmoke; */
}

.Apparel_Logo {
  padding-bottom: 2rem;
}

.Apparel_Main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  gap: 2rem;
}

.Apparel_MainLeft {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.Apparel_MainTitle {
  width: 50%;
  font-size: 3rem;
  margin: 0 auto;
}

.Apparel_Highlight {
  color: rosybrown;
}

.Apparel_LightWeight {
  font-weight: 300;
}

.Apparel_Desc {
  width: 50%;
  font-size: 1.4rem;
}

.Apparel_MainRight {
  background-image: url("../../../public/apparel-images/hero-desktop.jpg");
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media (width < 1000px) {
  .Apparel_Main {
    flex-direction: column-reverse;
  }

  .Apparel_MainLeft {
    padding: 0 1rem;
  }

  .Apparel_MainTitle {
    font-size: 1.5rem;
  }

  .Apparel_MainRight {
    width: 100%;
    background-size: fill;
    background-position: top;
  }
}
